@font-face {
    font-family: LabradorA;
    font-weight: bold;
    src: url("../../../fonts/LabradorA-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: Galano;
    font-weight: bold;
    src: url("../../../fonts/Galano_Grotesque_Medium.otf") format("opentype");
}

body{
    font-family: Verdana;
}

h1, h2{
    font-family: LabradorA;
}

a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3;
}


#sidebar{
    min-width: 250px;
    max-width: 250px;
    background: #152F4A;
    color: #ffffff;
    transition: all 0.3s;
    position: fixed; 
    height: -webkit-fill-available;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    overflow-x: auto;
}

#sidebar.active{
    margin-left: -250px;
}

.sidebar-header{
    padding: .5rem 1rem;
    background: #152F4A;
    text-align: center;
    border-bottom: 1px solid white;
}

#sidebar ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p{
    color: #ffffff;
    padding: 10px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover{
    color: #606060;
    background: #ffffff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"]{
    color: #000000;
    background: #ffffff;
}

a[data-toggle="collapse"]{
    position: relative;
}

.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #7C8B9E !important;
    border-bottom: 1px solid white;
}

ul ul a.current{
    color: chartreuse;
}

#content{
    width: -webkit-fill-available;
    /*min-height: 100vh;*/
    transition: all 0.3s;
    margin-left: 250px;
    padding-top: 77px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#content.full{
    margin-left: 0px;
}

#navbar{
    position: fixed !important; 
    width: -webkit-fill-available !important; 
    z-index: 10000 !important; 
    transition: all 0.3s !important;
    margin-left: 250px !important;
    background-color: #ffffff !important;
}

#navbar.full{
    margin-left: 0px !important;
}

#navbar div ul li a{
    color: #606060;
}

#navbar a{
    color: #606060;
}